<main>

 <p id="notice"><%= flash[:notice] %></p>

<div class="container">
  <div class="row">
        <!--左側サイドバー-->
    <%= render 'books/side', book: @book, user: @user %>

    <!--右側-->
    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user.id) do %>
                <%= attachment_image_tag @user, :profile_image, fallback:"no_image.jpg", format:'jpeg', size:"40x40" %></br>
                <%= @user.name %>
                <% end %>
              </td>
              <td><%= link_to @books.title, book_path(@books.id) %></td>
              <td><%= @books.body %></td>
              <% if user_signed_in? && current_user.id == @user.id %>
              <td>
                <%= link_to "Edit", edit_book_path(@books.id), class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@books.id), method: :delete, class:"btn btn-sm btn-danger", data: {confirm: '本当に消しますか?'} %>
              </td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</main>